.container-fluid
  = render partial: "flash_display"
  %h1 Users
  %p Click here to create a new user's submission:
  %p= link_to "New User", step1_wizard_path, class: 'btn btn-success'
  %p Here show a list of the wizard's submissions.
  = render partial: "users_table", users: @users